@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;}

.clearfix{
    clear: both;}

.clearfix::after{
    display: block;
    content: "";
    clear: both;}

/* typography */

h1{
    font-size: 1.8rem;
    line-height: 2.2rem;
}
h2{
    font-size: 1.6rem;
    line-height: 2.0rem;
}
h3{
    font-size: 1.4rem;
    line-height: 1.8rem;
}
h4{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}
h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* layout */

/* header{
    background-color: rgb(236, 236, 218);
} */

#app-row{
    /* background-color: yellow; */
    height: 80px;
}
#nav-row{
    background-color: rgb(245, 245, 235);
}
#misc-row{
    background-color: rgb(231, 159, 110);
}
.container{
    width: 1170px;
    margin: 0 auto;
}

#app-row>.container{
    /* background-color: red; */
    height: 100%;
    padding: 10px 0;
}

#logo{
    height: 60px;
}

#app-row>.container>.wrapper{
    float: right;
    /* background-color: green; */
    width: 70%;
    height: 100%;
}

/* #app-row>.container>.wrapper>.row:first-child{
    background-color: blue;
} */

#app-row>.container>.wrapper>.row:last-child{
    padding-top: 10px;
    /* background-color: white; */
}

#nav-lang li{
    float: left;
    padding-left: 20px;
}

#nav-lang li:hover a{
    color: #ff9d1e;
}

#nav-lang{
    float: right;
}

nav>li>a{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

#main-nav{
    float: left;
    padding-top: 10px;
}

#smi-container{
    float: right;
    color: white;
    /* background-color: aquamarine; */
}

#main-nav li{
    float: left;
    padding: 0 25px;
}

#smi-container ul li{
    float: left;
    padding: 5px;
    /* background-color: white; */
    margin-left: 8px;
}

#smi-container ul li:first-child{
    background-color: blue;
}

#smi-container ul li:nth-child(2){
    background-color: green;
}

#smi-container ul li:nth-child(3){
    background-color: lightblue;
}

#smi-container ul li:nth-child(4){
    background-color: red;
}

#smi-container ul li ion-icon{
    font-size: 1.2rem;
    color: white;
}




/* main{
    background-color: green;
}

footer{
    background-color: blue;
}

.container{
    width: 1170px;
    overflow: hidden;
}

nav, ul{
    overflow: hidden;
}

/* Header */
/* #top-row{
    padding: 10px 0;
    height: 80px;
}

#top-row>.container{
    margin-left: auto;
    margin-right: auto;
}

#top-row>.container>img{
    float: left;
}

#top-row>.container>div{
    float: right;
}

#nav-row{
    background-color: aqua;
}

#logo{
    height: 60px;
    padding-left: 8px;
}

nav li{
    cursor: pointer;
}

nav li:hover{
    text-decoration: underline;
}

#nav-lang li{
    float: right;
    padding: 5px 15px 5px 0;
    font-size: 0.8rem;
}

#nav-lang li:hover{
    color: #ff9d1e;
}

#main-nav{
    float: left;
}

#nav-lang{
    padding-bottom: 5px;
}

#main-nav li{
    float: left;
    padding: 20px 20px 0;
    font-size: 0.8rem;
}

#smi-container{
    padding-top: 7px;
}

#smi-container li{
    float: left;
    padding: 5px;
    background-color: yellow;
    margin-left: 10px;
}

#smi-container li ion-icon{
    vertical-align: baseline;
}  */